<h1 class="mt-5">Pipes<small> Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{nombre}}</th>
            <th>uppercase</th>
            <th>{{nombre | uppercase}}</th>
          </tr>
          <tr>
            <th>{{nombre}}</th>
            <th> lowercase </th>
            <th>{{nombre | lowercase}}</th>
          </tr>
           <!--slice permite cortar, se le dice desde que posicion empieza a cortar, en su defecto corta las primeras posiciones y muestra lo que viene despues-->
            <tr>
            <th>{{nombre}}</th>
            <th> slice:0:3 </th>
            <th>{{nombre | slice:0:3}}</th>
          </tr>
          <tr>
            <th>{{nombre}}</th>
            <th> slice:4 </th>
            <th>{{nombre | slice:4}}</th>
          </tr>
          <tr>
            <th>{{array}}</th>
            <th> slice:1:5 </th>
            <th>{{array | slice:1:5}}</th>
          </tr>
          <!--decimal, se llama number, se usa, primero number'posicion entero.inicio-fin-->
          <tr>
            <th>{{PI}}</th>
            <th> number </th>
            <th>{{PI|number:'1.0-3'}}</th>
          </tr>
          <tr>
            <th>{{PI}}</th>
            <th> number </th>
            <th>{{PI|number:'.0-4'}}</th>
          </tr>
        </tbody>
      </table>
      <h4>slice</h4>
      <ul>
        <li *ngFor="let item of array | slice:5:20">{{item}}</li>
      </ul>
  </div>
</div>
